.gallery-grid-container{
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.uno, .dos, .tres, .cuatro, .cinco, .seis{
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 500px){
    .gallery-grid-container{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 100px);
    }
    .uno, .dos, .tres, .cuatro, .cinco, .seis{
        background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}